body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.button  {
    appearance: none;
    position: relative;
    background-color: #f72359;
    padding: 1rem 2rem;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
}

.button a {
    /* dajac relative wyskakuje z flowu i efect hover jest pod spanem nie nad nim 8 */
    position: relative;
    /* musi byc aby nie zacinalo sie jak przejezdza myszka  */
    
    text-decoration: none;
    color: white;
}

.button:before {
    --size: 0;
    content: '';
    position: absolute;
    background: radial-gradient(circle closest-side, #4405f7, transparent);
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
}

.button:hover::before {
    --size: 200px;
}